*{ 
  padding: 0;
  margin:0;
  box-sizing: border-box;

}


header.conteiner {
  display: flex;
  height: 80px;
  background-color: #3061e0;
  justify-content: space-around;
  padding: 10px;
  
  
}

header .menu ul {
  list-style: none;
  display: flex;
}

header .menu ul li a {
  text-decoration: none;
  color: white;

}

header .menu ul li a {
  text-decoration: none;
}

header .menu ul li{
  padding: 5px;
}

.conteiner {
  text-align: center;
  
}

.jumbotron {
  background-image: url(./jumbo.png);
  height: 533px;
  background-size: cover;
  background-position: center;
  padding-top: 50px;
  
}

.jumbotron .text {
  margin-bottom: 30px;
  text-align: center;
  width: 770px;
  margin: 30px  auto;

}

.jumbotron .text {
  color: white;
}

.dowload {
  background-color: aliceblue;
  color: black;
  border-radius: 15px;
  padding: 8px;
}

.browser {
  background-color: black;
  color: aliceblue;
  border-radius: 15px;
  padding: 8px;

}

section.conteiner {
  display: flex;
  justify-content: space-around;
}

section.conteiner p {
  margin: 50px;
}

.ultimate {
  margin: 40px;
}

.ultimate h2 {
  padding: 10px;
}

section.bg-grey {
  background-color: #eeeeee
}

section.bg-grey {
  background-color: #ßF6F6F6;

}

footer .elenco ul li a {
  text-decoration: none;
  color: white;
}

footer .elenco ul li {
  padding: 5px;
}

footer .elenco ul{
  list-style: none;
  
}

footer {
background-color: grey;
display: flex;
justify-content: space-between;

}

.footer h3 {
  color: #3061e0;
}






